$dark: rgb(0, 0, 0);

select {
  width: 80%;
  margin: 0 1rem;
  font-size: inherit;
  outline: none;
  border: solid 1px $dark;
  border-radius: 0.25rem;
  &:disabled {
    cursor: not-allowed;
  }
}
