.memberWrap {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.close {
  display: none;
}

.memberForm {
  width: 70%;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 auto;
  background-color: rgba(240, 248, 255, 1);
}

.formGroup {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1rem;
}

.subtitle {
  text-align: center;
}

.row {
  justify-content: space-evenly;
}

label {
  display: block;
  padding: 0 15px;
  margin-bottom: 0;
  font-size: inherit;
  font-weight: bold;
}

.invalid label {
  color: rgb(223, 18, 18);
}

input,
select {
  width: 100%;
  margin-right: 15px;
  margin-left: 15px;
  font-size: inherit;
  outline: none;
  box-sizing: border-box;
}

.btnAbb,
.btnClose {
  width: 120px;
  height: 40px;
}

.btnAbb {
  background-color: rgba(42, 235, 35, 0.6);
  color: #fff;
}

.btnAbb:hover {
  cursor: pointer;
  background-color: rgba(42, 235, 35, 1);
}

.btnAbb:disabled {
  cursor: not-allowed;
  background-color: #ccc;
  color: #000;
}

.btnClose {
  background-color: rgba(255, 255, 255, 1);
  border-color: rgba(0, 0, 0, 0.6);
  color: rgba(0, 0, 0, 0.6);
}

.btnClose:hover {
  cursor: pointer;
  border-color: rgba(0, 0, 0, 1);
  color: rgba(0, 0, 0, 1);
}

span {
  color: rgb(223, 18, 18);
  font-size: 12px;
  font-weight: bold;
  padding: 0 15px;
}
