$dark: rgb(54, 60, 72);
$dark-light: rgba(54, 60, 72, 0.2);
$light: rgb(255, 255, 255);
$blue: rgb(57, 126, 237);
$green: rgb(0, 143, 2);
$red: rgb(230, 30, 30);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
}

h1 {
  margin: 10px auto;
}

h1,
.title {
  color: $blue;
  font-size: 1.9rem;
  font-weight: bold;
}

h1,
h2,
h3,
.title,
.subtitle {
  text-align: center;
}

caption {
  margin-bottom: 10px;
  text-align: left;
  font-size: 20px;
}

.subtitle {
  height: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 9px 10px 0 $dark-light;
  & th {
    padding: 10px 5px;
    background-color: $blue;
    color: $light;
  }
  & td {
    padding: 5px 2px;
    text-align: center;
    vertical-align: center;
    & span,
    span a {
      color: $blue;
      text-decoration: none;
    }
    & span:hover,
    span a:hover {
      cursor: pointer;
      color: $green;
    }
  }
  .index {
    min-width: 1.2rem;
  }
  & .td-Fail {
    color: $red;
    font-weight: bold;
  }
  & .td-Success {
    color: $green;
    font-weight: bold;
  }
}

.dark {
  background-color: $dark;
  color: $light;
}

.light {
  background-color: $light;
  color: $dark;
}

.dark--table {
  background-color: $dark;
  color: $light;
  border: 1px solid $light;
}

.light--table {
  background-color: $light;
  color: $dark;
  border: 1px solid $dark;
}

.grid-wrap {
  position: relative;
  width: 90%;
  margin: 0 auto;
  // padding: 2rem 0;
  z-index: 100;
  & a {
    text-align: right;
  }
  & a:hover {
    text-decoration: none;
  }
}

.buttons-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  border: none;
}

.row {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0.7rem;
}

.close {
  display: none;
}
