body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

h1 {
  margin: 10px auto;
  color: rgb(230, 30, 30);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

h2 {
  text-align: center;
}

caption {
  margin-bottom: 10px;
  text-align: left;
  font-size: 20px;
}

.title {
  color: rgba(57, 126, 237, 1);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid gray;
}

th {
  background-color: rgba(57, 126, 237, 1);
  padding: 10px 2px;
  color: #fff;
}

td {
  padding: 10px 2px;
  text-align: center;
  vertical-align: center;
  & span {
    text-decoration-line: underline;
    color: rgb(57, 126, 237);
  }
  & span:hover {
    cursor: pointer;
    color: rgb(230, 30, 30);
  }
}

.buttons-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  padding: 0;
}
