$light: rgb(255, 255, 255);
$blue: rgb(57, 126, 237);
$red: rgb(230, 30, 30);

@keyframes ldio {
  0% {
    top: 65px;
    left: 65px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 12px;
    left: 12px;
    width: 106px;
    height: 106px;
    opacity: 0;
  }
}

.ldio div {
  position: absolute;
  border-width: 2.74px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.ldio div:nth-child(1) {
  border-color: $red;
}

.ldio div:nth-child(2) {
  border-color: $blue;
  animation-delay: -0.5s;
}

.loadingio-spinner-ripple {
  margin: 150px auto;
  width: 137px;
  height: 137px;
  overflow: hidden;
  background: $light;
}

.ldio {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.ldio div {
  box-sizing: content-box;
}
