$dark: rgb(0, 0, 0);
$light: rgb(255, 255, 255);
$blue: rgb(57, 126, 237);

.switch-btn {
  display: inline-block;
  width: 57px;
  height: 30px;
  border: 1px solid $dark;
  border-radius: 20px;
  background-color: $dark;
  z-index: 0;
  position: relative;
  cursor: pointer;
  transition-duration: 300ms;
  &::after {
    content: '';
    left: 2px;
    top: 2px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    background-color: $light;
    z-index: 1;
    transition-duration: 300ms;
    box-shadow: 0 0 2px 3px $blue;
  }
}

.switch-btn__on {
  box-shadow: 0 0 2px 3px $light;
  &::after {
    left: 30px;
  }
}

.switch-btn--moon,
.switch-btn--sun {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 1px;
  z-index: 0;
}

.switch-btn--sun {
  left: 30px;
}
