$dark: rgb(54, 60, 72);
$dark-light: rgba(54, 60, 72, 0.2);
$dark-lighten: rgba(54, 60, 72, 0.6);
$light: rgb(255, 255, 255);
$blue: rgb(57, 126, 237);
$blue-light: rgba(57, 126, 237, 0.6);
$green: rgb(0, 143, 2);
$green-light: rgba(0, 143, 2, 0.6);
$red: rgb(230, 30, 30);
$red-light: rgba(230, 30, 30, 0.6);
$grey: rgb(204, 204, 204);

.btn {
  width: 44%;
  max-width: 7rem;
  min-width: 4rem;
  padding: 5px;
  margin: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 0 4px 5px 0 $dark-light;
  color: $light;
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }
  &:active {
    box-shadow: inset 2px 2px 1px $dark-lighten;
  }
  &:disabled {
    cursor: not-allowed;
    background-color: $grey;
    color: $dark;
  }
  & a {
    text-decoration: none;
    color: $light;
  }
}

.btn-register,
.btn-add,
.btn-close {
  width: 7.5rem;
  height: 2.5rem;
}

.btn-logout {
  width: 1rem;
}

.dark--btn:hover {
  border: 1px solid $light;
  box-shadow: 0 4px 15px 0 $light;
}

.light--btn:hover {
  box-shadow: 0 4px 15px 0 $dark-lighten;
}

.btn-delete,
.btn-fail {
  background-color: $red-light;
  &:not(:disabled):hover {
    background-color: $red;
  }
}

.btn-register,
.btn-progress,
.btn-tasks,
.btn-logout,
.btn-edit {
  background-color: $blue-light;
  &:not(:disabled):hover {
    background-color: $blue;
  }
}

.btn-add,
.btn-success {
  background-color: $green-light;
  &:not(:disabled):hover {
    background-color: $green;
  }
}

.btn-close {
  background-color: $light;
  border-color: $dark-lighten;
  color: $dark-lighten;
  &:not(:disabled):hover {
    border-color: $dark;
    color: $dark;
  }
}
