$dark: rgb(0, 0, 0);
$light: rgb(255, 255, 255);
$blue: rgb(57, 126, 237);

.dropdown-menu {
  width: 27px;
  height: 20px;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
  & .burger-line {
    height: 4px;
    border-radius: 10px;
    transition: 0.5s all;
  }
  & .burger-line--dark {
    background: $light;
  }
  & .burger-line--light {
    background: $dark;
  }
  & .second,
  & .third {
    margin-top: 5px;
  }
  & .burger-menu {
    display: block;
    width: 100px;
    max-height: 0;
    margin-top: 5px;
    font-size: 0;
    overflow: hidden;
    transition: 0.5s all;
    & li {
      list-style-type: none;
    }
  }
  .burger-menu-item {
    display: inline-block;
    border: 1px solid $blue;
    background: $light;
    padding: 5px;
    color: $dark;
    text-decoration: none;
  }
  .show {
    max-height: 40px;
    font-size: 16px;
    color: $dark;
  }
}
