.membersWrap {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 100;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid gray;
}

caption {
  margin: 10px auto;
  color: rgba(230, 30, 30, 1);
  font-size: 30px;
  font-weight: bold;
}

th {
  background-color: rgba(57, 126, 237, 1);
  padding: 10px 2px;
  color: #fff;
}

td {
  padding: 10px 2px;
  text-align: center;
  vertical-align: center;
}

.buttonsWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  padding: 0;
}

.btnRegister {
  width: 120px;
  height: 40px;
}

.btnProgress,
.btnTasks,
.btnEdit,
.btnDelete {
  width: 45%;
  min-width: 65px;
  padding: 5px;
}

.btnDelete {
  background-color: rgba(230, 30, 30, 0.6);
  color: rgba(255, 255, 255, 1);
}

.btnDelete:hover {
  background-color: rgba(230, 30, 30, 1);
}

.btnRegister,
.btnProgress,
.btnTasks,
.btnEdit {
  background-color: rgba(57, 126, 237, 0.6);
  color: rgba(255, 255, 255, 1);
}

.btnRegister:hover,
.btnProgress:hover,
.btnTasks:hover,
.btnEdit:hover {
  background-color: rgba(57, 126, 237, 1);
}
