$dark: rgb(0, 0, 0);
$red: rgb(223, 18, 18);
$blue: rgb(57, 126, 237);

.form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 0.7rem;
  & span {
    width: 80%;
    display: block;
    margin: 0 1rem;
    font-size: 12px;
    font-weight: bold;
    color: $red;
  }
  & .invalid-text {
    visibility: hidden;
  }
  & .visibility {
    visibility: visible;
  }
}

.form-group-member {
  width: 50%;
}

label {
  width: 80%;
  display: block;
  margin: 0 1rem;
  font-size: inherit;
  font-weight: bold;
  color: $blue;
}

input {
  display: block;
  width: 80%;
  margin: 0 1rem;
  font-size: inherit;
  outline: none;
  border: solid 1px $dark;
  border-radius: 0.25rem;
  padding-left: 3px;
  &:disabled {
    cursor: not-allowed;
  }
  &:focus {
    border-color: $blue;
    box-shadow: 0 0 1px 1px $blue;
  }
}

.invalid {
  & input {
    border-color: $red;
    box-shadow: 0 0 1px 1px $red;
  }
}

@media (max-width: 500px) {
  label {
    font-size: 14px;
  }
  input {
    font-size: 12px;
  }
}
