$dark: rgb(0, 0, 0);
$dark-light: rgba(0, 0, 0, 0.3);
$light: rgb(255, 255, 255);
$blue: rgb(57, 126, 237);

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 8%;
  text-align: center;
  & h3 a:hover {
    color: #00bc8c;
  }
  & .btn {
    width: 20px;
  }
}

.imgMain-wrap {
  width: 24px;
  height: 24px;
  border-radius: 20px;
  &:hover {
    box-shadow: 0px 0px 8px 4px $blue;
  }
  & img {
    width: 100%;
  }
}

.header--dark {
  box-shadow: 0 4px 4px 0 $light;
  & h3 a {
    color: $light;
  }
  & .nav li {
    border-color: $light;
  }
  & li a {
    color: $light;
  }
}

.header--light {
  box-shadow: 0 4px 4px 0 $dark-light;
  & h3 a {
    color: $dark;
  }
  & .nav li {
    border-color: $dark;
  }
  & li a {
    color: $dark;
  }
}

.nav {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 0;
  padding: 0;
  & li {
    list-style: none;
    margin: 0;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  & li:hover {
    background-color: $blue;
    box-shadow: 0 4px 15px 0 $dark-light;
  }
  & li:hover > a {
    text-decoration: none;
    color: $light;
  }

  & li a.active {
    font-weight: bold;
    text-decoration: none;
  }
}

.dropdawn-menu {
  width: 27px;
  height: 20px;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
  & .burger-line {
    height: 4px;
    border-radius: 10px;
    transition: 0.5s all;
  }
  & .burger-line--dark {
    background: $light;
  }
  & .burger-line--light {
    background: $dark;
  }
  & .second,
  & .third {
    margin-top: 5px;
  }
  & .burger-menu {
    display: block;
    width: 100px;
    max-height: 0;
    margin-top: 5px;
    font-size: 0;
    overflow: hidden;
    transition: 0.5s all;
    & li {
      list-style-type: none;
    }
  }
  .burger-menu-item {
    display: inline-block;
    border: 1px solid $blue;
    background: $light;
    padding: 5px;
    color: $dark;
    text-decoration: none;
  }
  .show {
    max-height: 40px;
    font-size: 16px;
    color: $dark;
  }
}
