$dark: rgb(0, 0, 0);
$dark-light: rgba(0, 0, 0, 0.3);
$light: rgb(255, 255, 255);
$blue: rgb(57, 126, 237);
$grееn: rgb(0, 143, 2);
$red: rgb(230, 30, 30);

.page-wrap {
  width: 50%;
  display: block;
  margin: 0 auto;
  padding-bottom: 1em;
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  & .page-form {
    width: 100%;
    border: 1px solid $dark;
    border-radius: 5px;
    margin: 0 auto;
    background-color: $light;
  }
  & .member {
    .chart_wrap {
      margin: 0 90%;
      margin-bottom: 0.5rem;
    }
  }
  & .form-group-members {
    display: flex;
    flex-wrap: wrap;
  }
}

.close {
  display: none;
}

.column {
  width: 16.5rem;
  height: 6.3rem;
  overflow: auto;
  border: solid 1px $dark;
  background: $light;
}

textarea {
  display: block;
  width: 80%;
  margin: 0 1rem;
  font-size: inherit;
  outline: none;
  border: solid 1px $dark;
  border-radius: 0.25rem;
  &:disabled {
    cursor: not-allowed;
  }
}

.checkbox {
  width: 1rem;
  display: inline-block;
  margin: 5px;
  &:disabled {
    cursor: not-allowed;
  }
}

#members {
  margin: 0 1rem;
  border-radius: 0.25rem;
}

.green {
  color: $grееn;
}

.red {
  color: $red;
}
