.member-wrap {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 1em;
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.close {
  display: none;
}

.member-form {
  width: 70%;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 auto;
  background-color: rgba(240, 248, 255, 1);
}

.subtitle {
  text-align: center;
}

.row {
  justify-content: space-evenly;
}

select {
  display: block;
  width: 100%;
  margin: 0 1em;
  font-size: inherit;
  outline: none;
}

.btn-add,
.btn-close {
  width: 120px;
  height: 40px;
}

.btn-add {
  background-color: rgba(42, 235, 35, 0.6);
  color: #fff;
  &:hover {
    cursor: pointer;
    background-color: rgba(42, 235, 35, 1);
  }
  &:disabled {
    cursor: not-allowed;
    background-color: #ccc;
    color: #000;
  }
}

.btn-close {
  background-color: rgba(255, 255, 255, 1);
  border-color: rgba(0, 0, 0, 0.6);
  color: rgba(0, 0, 0, 0.6);
  &:hover {
    cursor: pointer;
    border-color: rgba(0, 0, 0, 1);
    color: rgba(0, 0, 0, 1);
  }
}
